<div id="TopBar">
	<div class="Title">
		<h1>Skyways Stock Management</h1>
	</div>

	<div id="log-info">
		<span class="glyphicon glyphicon-user"></span> Carl Leadbeater<br>
		<a href="#">Log out</a>
	</div>
</div>

{{ include('menu.html.twig') }}
