<div id="status">
	<label class="info">Stock Management</label>
	<div id="log-info">
		<span class="glyphicon glyphicon-user"></span> Carl Leadbeater
		<a href="#">Log out</a>
	</div>
</div>

{{ include('menu.html.twig') }}
