body h1, h2, h3, h4, h5, label, div
{
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


#main
{
	
}

#TopBar
{
	width:100%;
	background-color: #137e6f;;
	color:#fff;
	padding:8px;
	height:80px;
	top:0;
	display:table;
}

#TopBar div.Title
{
	display: table-cell;
	vertical-align: middle;
}

#log-info
{
	right:0;
	display: table-cell;
	vertical-align: middle;
	font-size: small;
	text-align: right;
}

.info
{

}


.hidden
{
	display: none;
}
.jumbotron
{
	padding:20px;
}

.jumbotron h1
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}

.navbar-fixed-top-offset-20
{
	border-width: 0 0 1px;
	right: 0;
	left: 0;
	font-size: 14px;
}


.ControlCell a
{
	padding:10px;
}

