{% extends 'base.html.twig' %}

{% block title %}Skyways - Location Maintenance{% endblock %}

{% block body %}
	Location Maintenance

	

	<label class="bg-primary">Displaying details for: ID: {{ id }} </label><br>
	{{ Description }}

{% endblock %}


