
{% extends 'base.html.twig' %}


{% block title %}Skyways - Location Maintenance{% endblock %}


{% block body %}
<div class="well">
	Location Maintenance
</div>
	Just inserted a new record, ID: {{ id }}
{% endblock %}



